#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: white;
}

.link-navigation {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  color: white;
}

body {
  background-color: black;
}

link {
  color: white;
}
